* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
  }

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-behavior: smooth;
    font-size: 16px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

section {
    height: 185vh;
    width: 100%;
    scroll-snap-align: center;
}

@media screen and (min-width: 480px) {
    section {
        height: 200vh;
    }
}

@media screen and (min-width: 700px) {
    section {
        height: 100vh;
    }
}

h1 {
    font-family: 'Libre Caslon Text', serif;
    font-size: 3.25rem;
    font-weight: 500;
    color: rgba(0,0,0,0.625);
    margin-left: 10px;
}

@media screen and (max-width: 489px) {
    h1 {
        width: 50%;
        position: relative;
        top: 10px;
    }
}

@media screen and (min-width: 700px) {
    #about h1 {
        position: absolute;
        font-size: 4rem;
        margin-left: 0px;
        float: right;
        margin-right: 10px;
        top: 0px;
    }
}

@media screen and (min-width: 1000px) {
    #about h1 {
        top: 0px;
    }
}

p {
    color: rgba(255,255,255,0.625);
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 700px) {
    p {
        margin-left: 0px;
        margin-bottom: 0px;
        font-family: 'Libre Caslon Text', serif;
        visibility: visible;
        color: rgba(0,0,0,0.75);
    }
}

#about {
    font-family: 'Libre Caslon Text', serif;
    background-color: #C9A779;
    /* background-color: rgb(30,60,105); */
    /* background-color: rgb(20,40,70); */
    /* background-color: #97BD99; */
}

#about img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.bg {
    position: absolute;
    right: 5px;
    top: 0px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 480px) {
    .bg {
        top: -10px;
    }
}

@media screen and (min-width: 700px) {
    .bg {
        right: 400px;
    }
}

@media screen and (min-width: 800px) {
    .bg {
        right: 500px;
    }
}

@media screen and (min-width: 900px) {
    .bg {
        right: 600px;
    }
}

@media screen and (min-width: 1000px) {
    .bg {
        right: 700px;
    }
}

@media screen and (min-width: 1100px) {
    .bg {
        right: 750px;
    }
}

@media screen and (min-width: 1300px) {
    .bg {
        right: 850px;
    }
}

@media screen and (min-width: 1400px) {
    .bg {
        right: 950px;
    }
}

.tree {
    position: relative;
    bottom: 20px;
    opacity: .75;
    height: 150px;
}

@media screen and (min-width: 480px) {
    .tree {
        height: 200px;
    }
}


@media screen and (min-width: 600px) {
    .tree {
        height: 225px;
    }
}

@media screen and (min-width: 700px) {
    .tree {
        height: 300px;
    }
}

@media screen and (min-width: 1200px) {

    .tree {
        height: 350px;
    }
}

.river {
    position: relative;
    height: 100px;
    bottom: 70px;
    left: 4px;
    /* opacity: .75; */
}

@media screen and (min-width: 480px) {
    .river {
        height: 133px;
        bottom: 85px;
    }   
}

@media screen and (min-width: 600px) {
    .river {
        height: 177.7px;
        bottom: 110px;
    } 
}

@media screen and (min-width: 700px) {
    .river {
        height: 225px;
        bottom: 135px;
    }
}

@media screen and (min-width: 1200px) {
    .river {
        height: 262.5px;
    }
} 

.intro {
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .intro {
        height: 60%;
        align-items: end;
    }
}

.portrait {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

@media screen and (min-width: 490px) {
    .portrait {
        justify-content: start;
        margin-left: 20px;
        position: relative;
        top: 20px;
    }
}

@media screen and (min-width: 700px) {
    .portrait {
        display: flex;
        justify-content: end;
        margin-left: 0px;
        margin-right: 10px;
        top: 40px;
    }
}

@media screen and (min-width: 1000px) {
    .portrait {
        margin-right: 20px;
    }
}

.box {
    width: 190px;
    position: absolute;
    transform: rotate(357deg);
    opacity: 0.5;
}

@media screen and (min-width: 1000px) {
    .box {
        width: 220px;
    }
}

.person {
    max-width: 175px;
    position: relative;
    top: 8px;
    right: 1px;
    transform: rotate(3deg);
    filter: grayscale(100%);
}

@media screen and (min-width: 490px) {
    .person {
        left: 6px;
    }
}

@media screen and (min-width: 700px) {
    .person {
        left: -9px;
    }
}

@media screen and (min-width: 1000px) {
    .person {
        max-width: 205px;
    }
}

.p-container {
    height: 80px;
    z-index: 1;
    background-color: rgb(30,60,105);
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 336px) {
    .p-container {
        line-height: 1.25rem;
    }
}

@media screen and (min-width: 480px) {
    .p-container {
        margin-top: 50px;
    }
}

@media screen and (min-width: 700px) {
    .p-container {
        visibility: hidden;
        width: 60%;
        float: right;
        position: relative;
    }
}

@media screen and (min-width: 1300px) {
    .p-container {
        width: 50%;
    }
}

.content {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: end;
    justify-content: center;
}

@media screen and (min-width: 700px) {
    .content {
        height: 40%;
    }
}

.blue {
    background-color: rgb(70, 160, 220);
    /* background-color: rgba(17, 69, 12, 0.5); */
    height: 20%;
    width: 100%;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
    top: 165%;
}

@media screen and (min-width: 480px) {
    .blue {
        top: 180%;
    }
}

@media screen and (min-width: 700px) {
    .blue {
        top: 80%;
    }
}

.brown {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 700px) {
    .brown {
        flex-direction: row;
        margin-bottom: 30px;
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .brown {
        width: 80%;
    }
}

.square {
    background-color: transparent;
    height: 190px;
    aspect-ratio: 1/1;
    z-index: 1;
    container-name: square;
}

@media screen and (min-width: 480px) {
    .square {
        height: 200px;
        margin-top: 20px;
    }
}


@media screen and (min-width: 1000px) {
    .square {
        height: 220px;
    }
}

.square-inner {
    background-color: #423D36;
    /* background-color: black; */
    height: 100%;
    width: 100%;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 15px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border-radius: 5px;
}

.square:hover .square-inner{
    transform: rotateY(180deg);
}

.square h3 {
    margin-top: 35%;
    font-size: 1.5rem;
    color: rgba(255,255,255,0.75);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.square h5 {
    font-size: 1.25rem;
    color: rgba(255,255,255,0.75);
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 300;
}

.square h5 i {
    font-size: 1.125rem;
}


.square h6 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.75);
    font-weight: 300;
    font-style: italic;
    font-size: 1.125rem;
}


.email {
    font-size: 0.85rem !important;
}

@media screen and (min-width: 480px) {
    .email {
        font-size: 0.95rem !important;
    }
}

.card-front, .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 5%;
}

.ic {
    color: rgba(255,255,255,0.75);
    font-size: 1.75rem;
}

a.contact {
    text-decoration: none;
    color: rgba(31,170,250,.8);
    font-size: 1.75rem;
}

#projects {
    /* background-image: url("images/IMG_2464.jpeg");
    background-size: cover; */
    /* background-color: rgb(0,0,50); */
    background-color: rgb(20,40,70);
    /* opacity: 0.8; */
    /* background-color: black; */
    /* background-color: #423D36; */
    height: 275vh;
}

@media screen and (min-width: 345px) {
    #projects {
        height: 300vh;
    }
}

@media screen and (min-width: 380px) {
    #projects {
        height: 325vh;
    }
}

@media screen and (min-width: 420px) {
    #projects {
        height: 350vh;
    }
}

@media screen and (min-width: 450px) {
    #projects {
        height: 375vh;
    }
}

@media screen and (min-width: 480px) {
    #projects {
        height: 175vh;
    }
}

@media screen and (min-width: 580px) {
    #projects {
        height: 210vh;
    }
}


@media screen and (min-width: 700px) {
    #projects {
        height: 120vh;
    }
}

#projects p {
    color: rgba(0,0,0,0.75);
}


.proj-head {
    width: 100%;
    background-color: rgb(30,60,105);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
}

#projects h1 {
    color: rgb(70, 160, 220);
    /* color: #97BD99; */
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 3rem;
}

@media screen and (min-width: 700px) {
    #projects h1 {
        margin-left: 50px;
        text-align: start;
    }
}

.grid-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.grid {
    visibility: hidden;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    background-color: rgb(30,60,105);
    padding: 20px 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
    border-radius: 5px;
}

@media screen and (min-width: 480px) {
    .grid {
        width: 60%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 700px) {
    .grid {
        width: 80%;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .grid {
        width: 70%;
    }
}
@media screen and (min-width: 1200px) {
    .grid {
        width: 60%;
    }
}

@media screen and (min-width: 1400px) {
    .grid {
        width: 55%;
    }
}

.proj-card {
    visibility: visible;
    width: 100%;
    aspect-ratio: 1/1;
    /* background-color: rgba(31,170,250,.8); */
    background-color: rgb(70, 160, 220);
    /* background-color: #97BD99; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
    border-radius: 5px;
    color: rgb(20,40,70);
}

.proj-card h3 {
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Libre Caslon Text', serif; */
    font-weight: 600;
    font-size: 1.25rem;
    /* color: rgb(13, 46, 10); */
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    overflow-y: auto;
}

.modal-content {
    width: 60%;
    position: relative;
    top: 5%;
    left: 20%;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .modal-content img {
    width: 100%;
} */

.modal-content p {
    line-height: 1.75rem;
}

.close {
    float: right;
    font-size: 2rem;
    font-weight: 600;
    align-self: flex-end;
}

.playlist img{
    width: 100%;
}

.fitness img {
    width: 75%;
}

.education img {
        max-height: 400px;
        width: 50%;
        object-fit: cover;
        object-position:center 20%;
}

.education {
    background-color: rgb(200,200,200);
}

.connect4 img {
    width: 75%;
}

.mountain img {
    width: 60%;
}

.pong img {
    width: 50%;
}

.battleship img {
    width: 50%;
    height: 450px;
}

.photos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.photos img {
    width: 50%;
}

.enigma img {
    width: 40%;
}

.parser img {
    width: 50%;
}
