/* Whole Page */

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: rgb(3, 2, 2);
    background-color: rgb(255, 250, 245);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: rgb(74, 47, 38);
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.75rem;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    color: rgb(61, 173, 125);
}

/* Header */
nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(74, 47, 38);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}

nav a {
    color: rgb(61, 173, 125);
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style-type: none;
    margin-right: 5%;
}

.divider {
    color: rgb(181, 128, 65);
}


.brown-line {
    background-color: rgb(181, 128, 65);
    height: 3px;
    width: 70%;
    border: 0px;
}

.green-line {
    background-color: rgb(61, 173, 125);
    height: 3px;
    width: 75%;
    border: 0px;
}

/* About Section */
 #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 70%;
 }

 #about img {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 50%;
    border-radius: 10px;
 }

 #about p {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(74, 47, 38);
    color: rgb(255, 250, 245);
    line-height: 150%;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 50px;
 }

 .green-border {
    /* border: 5px solid rgb(61, 173, 125); */
    margin-right: -300px;
    width: 70%;
}

.brown-border {
    /* border: 5px solid rgb(181, 128, 65); */
    margin-left: -300px;
    width: 70%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

span {
    color:rgb(61, 173, 125);
}

/* Projects Section */

.fitness img {
    width: 20%;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.proj {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 40px;
}

.education img {
    max-height: 200px;
    width: 50%;
    object-fit: cover;
    object-position:center 20%;
}

.connect4 img {
    width: 20%;
}

/* Skills Section */
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;;
}

#skills i {
    margin-top: 20px;
    width: 60px;
    font-size: 2rem;
}

/* Footer */
footer {
    background-color: rgb(74, 47, 38);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    margin:10px;
    font-family: 'Tulpen One', cursive;
    color: rgb(181, 128, 65);
}

.fa-tree {
    color: green;
}

.fa-water {
    color: deepskyblue;
}

.fa-computer {
    color: silver;
}

.fa-earth-americas {
    color: steelblue;
}